@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron text-center mt-4">
    <h1 class="display-4">Welcome to Our Event Booking System</h1>
    <p class="lead">Manage Events, stands, bookings, and guests all in one place.</p>
    <hr class="my-4">
    <p>Get started by exploring our services.</p>
    <a class="btn btn-primary btn-lg" href="/Events/GetEvents" role="button">View Events</a>
</div>